<div class="sidebar">
    <ul>
        <li> <a href="#"><i class="fas fa-home"></i><img src="../../../assets/user.svg" alt="Usuarios" height="20px" width="20px" />  Usuarios</a></li>
        <li><a href="#"><i class="fas fa-user"></i><img src="../../../assets/shop.svg" alt="Usuarios" height="20px" width="20px" /> Slider</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i><img src="../../../assets/square.svg" alt="Usuarios" height="20px" width="20px" /> Reportes</a></li>
        <li><a href="#"><i class="fas fa-project-diagram"></i><img src="../../../assets/list.svg" alt="Usuarios" height="20px" width="20px" /> Terminos</a></li>
        <li><a href="#"><i class="fas fa-blog"></i><img src="../../../assets/web.svg" alt="Usuarios" height="20px" width="20px" /> Redes</a></li>
    </ul>
</div>
